In [18]:
#Q1
for i in range (1500,2700):
    if (i%35==0):
        print(i)

1505
1540
1575
1610
1645
1680
1715
1750
1785
1820
1855
1890
1925
1960
1995
2030
2065
2100
2135
2170
2205
2240
2275
2310
2345
2380
2415
2450
2485
2520
2555
2590
2625
2660
2695

In [21]:
#Q2

f=float(input("Please enter temperature in fahrenheit:"))
c=(f-32)*5/9
print("Temperature in celsius is :",c)

c=float(input("Please enter temperature in celsius : "))
f=c*9/5 +32
print("Temperature in fahrenheit is :",f)

Please enter temperature in fahrenheit:86
Temperature in celsius is : 30.0
Please enter temperature in celsius : 30
Temperature in fahrenheit is : 86.0

In [22]:
#Q3

counter = 0
for i in range(1,10):
    if(i<=5):
        for j in range(0,i):
            print("* ", end="")
    else:
        for k in range(i,10):
            print("* ", end="")
    print("")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [23]:
#Q4

word = input("Word : ")
reversed_word =''.join(reversed(word))
print("Reversed Word :",reversed_word)

Word : abdo
Reversed Word : odba

In [26]:
#Q5
N1=int(input("Enter first number : "))
N2=int(input("Enter second number : "))
N3=int(input("Enter third number : "))
def max_number(n1,n2,n3):
    if(n1>n2 and n1>n3):
        return n1
    elif(n2>n1 and n2>n3):
        return n2
    else:
        return n3
        
print("Max number =",max_number(N1,N2,N3))

Enter first number : 5
Enter second number : 7
Enter third number : 9
Max number = 9

In [38]:
#Q6

numbers=[]
def summation():
    sum=0
    for i in range(3):
        numbers.append( int(input("Enter a number :")) )
        sum = sum + numbers.pop(0)
    return sum  

print("The summation of numbers =",summation())

Enter a number :10
Enter a number :20
Enter a number :30
The summation of numbers = 60

In [27]:
#Q7
for i in range(0,7):
    if(i==3 or i==6):
        continue
    print(i)

0
1
2
4
5

In [34]:
#Q8
def factorial(n):
    if(n>=1):
        return n*factorial(n-1)
    else:
        return 1

factorial(10)

3628800

In [36]:
#Q9

def unique(l):
    n = []
    for i in l:
        if i not in n:
            n.append(i)
    return n

print(unique([1,2,2,2,3,3,4,5,4,6,5,6]))

[1, 2, 3, 4, 5, 6]

In [37]:
#Q10

add_15= lambda x: x+15
print(add_15(10))

multiply = lambda x,y: x*y
print(multiply(7,9))

25
63