In [23]:
import pandas as pd
url=("https://www.imdb.com/chart/top/")
df=pd.read_html(url)
df1=df[0]
df1

,Unnamed: 0,Rank & Title,IMDb Rating,Your Rating,Unnamed: 4
0,NaN,1. The Shawshank Redemption (1994),9.2,12345678910 NOT YET RELEASED Seen,NaN
1,NaN,2. The Godfather (1972),9.2,12345678910 NOT YET RELEASED Seen,NaN
2,NaN,3. The Dark Knight (2008),9.0,12345678910 NOT YET RELEASED Seen,NaN
3,NaN,4. The Godfather Part II (1974),9.0,12345678910 NOT YET RELEASED Seen,NaN
4,NaN,5. 12 Angry Men (1957),9.0,12345678910 NOT YET RELEASED Seen,NaN
...,...,...,...,...,...
245,NaN,246. Dersu Uzala (1975),8.0,12345678910 NOT YET RELEASED Seen,NaN
246,NaN,247. The Help (2011),8.0,12345678910 NOT YET RELEASED Seen,NaN
247,NaN,248. Gandhi (1982),8.0,12345678910 NOT YET RELEASED Seen,NaN
248,NaN,249. Aladdin (1992),8.0,12345678910 NOT YET RELEASED Seen,NaN
249,NaN,250. The Iron Giant (1999),8.0,12345678910 NOT YET RELEASED Seen,NaN

In [24]:
df1.shape

(250, 5)

In [27]:
df1.columns

Index(['Unnamed: 0', 'Rank & Title', 'IMDb Rating', 'Your Rating',
       'Unnamed: 4'],
      dtype='object')

In [32]:
df1[['Rank & Title','IMDb Rating']]

                             Rank & Title  IMDb Rating
0    1.  The Shawshank Redemption  (1994)          9.2
1               2.  The Godfather  (1972)          9.2
2             3.  The Dark Knight  (2008)          9.0
3       4.  The Godfather Part II  (1974)          9.0
4                5.  12 Angry Men  (1957)          9.0
..                                    ...          ...
245             246.  Dersu Uzala  (1975)          8.0
246                247.  The Help  (2011)          8.0
247                  248.  Gandhi  (1982)          8.0
248                 249.  Aladdin  (1992)          8.0
249          250.  The Iron Giant  (1999)          8.0

[250 rows x 2 columns]

In [33]:
df1[1:9]

,Unnamed: 0,Rank & Title,IMDb Rating,Your Rating,Unnamed: 4
1,NaN,2. The Godfather (1972),9.2,12345678910 NOT YET RELEASED Seen,NaN
2,NaN,3. The Dark Knight (2008),9.0,12345678910 NOT YET RELEASED Seen,NaN
3,NaN,4. The Godfather Part II (1974),9.0,12345678910 NOT YET RELEASED Seen,NaN
4,NaN,5. 12 Angry Men (1957),9.0,12345678910 NOT YET RELEASED Seen,NaN
5,NaN,6. Schindler's List (1993),8.9,12345678910 NOT YET RELEASED Seen,NaN
6,NaN,7. The Lord of the Rings: The Return of the K...,8.9,12345678910 NOT YET RELEASED Seen,NaN
7,NaN,8. Pulp Fiction (1994),8.8,12345678910 NOT YET RELEASED Seen,NaN
8,NaN,9. The Lord of the Rings: The Fellowship of t...,8.8,12345678910 NOT YET RELEASED Seen,NaN

In [34]:
df1.describe

<bound method NDFrame.describe of      Unnamed: 0                          Rank & Title  IMDb Rating  \
0           NaN  1.  The Shawshank Redemption  (1994)          9.2
1           NaN             2.  The Godfather  (1972)          9.2
2           NaN           3.  The Dark Knight  (2008)          9.0
3           NaN     4.  The Godfather Part II  (1974)          9.0
4           NaN              5.  12 Angry Men  (1957)          9.0
..          ...                                   ...          ...
245         NaN             246.  Dersu Uzala  (1975)          8.0
246         NaN                247.  The Help  (2011)          8.0
247         NaN                  248.  Gandhi  (1982)          8.0
248         NaN                 249.  Aladdin  (1992)          8.0
249         NaN          250.  The Iron Giant  (1999)          8.0

                            Your Rating  Unnamed: 4
0    12345678910 NOT YET RELEASED  Seen         NaN
1    12345678910 NOT YET RELEASED  Seen         NaN
2    12345678910 NOT YET RELEASED  Seen         NaN
3    12345678910 NOT YET RELEASED  Seen         NaN
4    12345678910 NOT YET RELEASED  Seen         NaN
..                                  ...         ...
245  12345678910 NOT YET RELEASED  Seen         NaN
246  12345678910 NOT YET RELEASED  Seen         NaN
247  12345678910 NOT YET RELEASED  Seen         NaN
248  12345678910 NOT YET RELEASED  Seen         NaN
249  12345678910 NOT YET RELEASED  Seen         NaN

[250 rows x 5 columns]>

In [ ]:
import requests
from bs4 import BeautifulSoup
import csv
import re

url= "https://www.imdb.com/chart/top/"
r=requests.get(url)
soup= BeautifulSoup(r.text,'lxml')

csvfile = open ('IMDb_Top250.csv', 'w', encoding='utf-8') # 'w' = write into the file
writer = csv.writer(csvfile) # import csv
writer.writerow(['Movie Rank', 'Movie Name','Year','Rating'])
List = soup.find('tbody',class_='lister-list')
Movies=List.find_all('tr')

for i in Movies :
    Num = i.find('td', class_ ='titleColumn').text
    Rank = re.findall(r'\d+', Num)
    Year = i.find('td', class_ ='titleColumn').span.text
    Name = i.find('td', class_ ='titleColumn').a.text
    Rating = i.find('td', class_='ratingColumn imdbRating').strong.text
        
    writer.writerow([Rank[0],Name,Year,Rating])    
        
csvfile.close()